# Application
APP_OFFLINE = false
APP_DEBUG = true
APP_BASE_URI= '/'
APP_LOG_LVL = 'debug'
APP_SUPPORT_EMAIL = ''
APP_SALT = ''

# Site
SITE_TOPICS_PER_PAGE = 20
SITE_COMMENTS_LIMIT = 801
SITE_FILES_PER_PAGE = 80
SITE_SUBJECT_LENGTH = 75
SITE_TAGS_LIMIT = 5
SITE_TOPICS_TIME_LIMIT = 150 # секунд
SITE_COMMENTS_TIME_LIMIT = 25 # секунд
SITE_REPORTS_TIME_LIMIT = 20 # секунд
SITE_TIME_LIMIT = 5
SITE_DEFALUT_NAME = 'Anonymous'

# Database
DATABASE_HOST = ''
DATABASE_NAME = ''
DATABASE_USER = ''
DATABASE_PASS = ''
DATABASE_CHARSET = 'utf8mb4'
DATABASE_PERSISTENT = true

# Redis
REDIS_HOST = 'localhost'
REDIS_PORT = 6379
REDIS_LIFETIME = 129600
REDIS_INDEX = 1
REDIS_PERSISTENT = false

# reCaptcha
RC_SECRET = ''